.h1{
    text-align: center;
    text-decoration: double;
    color: rgb(171, 76, 76);
}
.image{
    border-image: fill;
    -webkit-border-image: round;
    animation-play-state: running;
}
.sub{
    text-align: center;
    color: rgb(160, 31, 78);
}
.para{
    text-align: justify;
}
.body{
    text-align: center;
    background-image: url('bg3.jpg');
}
.link{
    color: rgb(12, 28, 206);
}
